<h1>Hello Skillcult!</h1>

<!-- Forms -->
<div class="row">
  <h2>Form: Top Labels</h2>
  <!-- Form: Samples -->
  <form class="" action="/">
    <fieldset>
      <label for="name">First Name</label>
      <input type="text" id="name" class="text" />
      <p class="form-help">This is help text under the form field.</p>
    </fieldset>

    <fieldset>
      <label for="email">Last Name</label>
      <input type="email" id="email" class="text" />
    </fieldset>

    <fieldset class="form-actions">
      <input type="submit" value="Next" />
      <input type="button" value="Disabled" class="disabled" />
    </fieldset>
  </form>
  
  <h2>Form: Inset Labels</h2>
  <form class="inset" action="/">
    <fieldset>
      <label for="name">First Name</label>
      <input type="text" id="name" class="text" />
      <p class="form-help">This is help text under the form field.</p>
    </fieldset>

    <fieldset>
      <label for="email">Last Name</label>
      <input type="email" id="email" class="text" />
    </fieldset>

    <fieldset class="form-actions">
      <input type="submit" value="Next" />
      <input type="button" value="Disabled" class="disabled" />
    </fieldset>
  </form>
  
  <h2>Buttons: Various</h2>
  <form action="/">
    <fieldset>
      <p><input type="button" value="Input type attention" class="attention"></p>
      <p><input type="reset" value="Input type alert" class="alert"></p>
      <p><input type="submit" value="Input type warning" class="warning"></p>
      <p><input type="submit" value="Input type submit disabled" class="disabled" disabled></p>
      <p><button type="button" class="success">Button type success</button></p>
      <p><button type="reset" class="value">Button type value</button></p>
      <p><button type="submit">Button type submit</button></p>
      <p><button type="button" class="disabled" disabled>Button type button disabled</button></p>
      <p><button>Button</button></p>
      <p><button type="button" class="secondary">Secondary button</button></p>
      <p><button type="button" class="secondary disabled" disabled>Secondary button disabled</button></p>
    </fieldset>
  </form>
</div>

<!-- Headers -->
<div class="row">
  <!-- Headers -->
  <h1>Heading 1 with <small>small text</small> and a <a href="#">link</a></h1>
  <h2>Heading 2 with <small>small text</small> and a <a href="#">link</a></h2>
  <h3>Heading 3 with <small>small text</small> and a <a href="#">link</a></h3>
  <h4>Heading 4 with <small>small text</small> and a <a href="#">link</a></h4>
  <h5>Heading 5 with <small>small text</small> and a <a href="#">link</a></h5>
  <h6>Heading 6 with <small>small text</small> and a <a href="#">link</a></h6>
  
  <!-- Headers in Article -->
  <article>
    <h1>Heading 1 (in article) with <small>small text</small> and a <a href="#">link</a></h1>
    <h2>Heading 2 (in article) with <small>small text</small> and a <a href="#">link</a></h2>
    <h3>Heading 3 (in article) with <small>small text</small> and a <a href="#">link</a></h3>
    <h4>Heading 4 (in article) with <small>small text</small> and a <a href="#">link</a></h4>
    <h5>Heading 5 (in article) with <small>small text</small> and a <a href="#">link</a></h5>
    <h6>Heading 6 (in article) with <small>small text</small> and a <a href="#">link</a></h6>
  </article>
</div>

<!-- Lists -->
<div class="row">
<h2>Lists</h2>
<!-- List: Unordered -->
  <ul>
    <li>list item 1</li>
    <li>list item 1
      <ul>
        <li>list item 2</li>
        <li>list item 2
          <ul>
            <li>list item 3</li>
            <li>list item 3</li>
          </ul>
        </li>
        <li>list item 2</li>
        <li>list item 2</li>
      </ul>
    </li>
    <li>list item 1</li>
    <li>list item 1</li>
  </ul>
</div>

<!-- Ordered Lists -->
<div class="row">
<!-- List: Ordered -->
  <ol>
    <li>list item 1</li>
    <li>list item 1
      <ol>
        <li>list item 2</li>
        <li>list item 2
          <ol>
            <li>list item 3</li>
            <li>list item 3</li>
          </ol>
        </li>
        <li>list item 2</li>
        <li>list item 2</li>
      </ol>
    </li>
    <li>list item 1</li>
    <li>list item 1</li>
  </ol>
</div>

<!-- Definitions -->
<div class="row">
<!-- List: Definition -->
  <dl>
    <dt>Description name</dt>
      <dd>Description value</dd>
    <dt>Description name</dt>
      <dd>Description value</dd>
      <dd>Description value</dd>
  </dl>
</div>

<!-- Tables -->
<div class="row">
  <h2>Tables</h2>
  <table>
    <caption>Table Caption</caption>
    <thead>
      <tr>
        <th>thead th</th>
        <th>thead th</th>
        <th>thead th</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>tbody td</td>
        <td>tbody td</td>
        <td>tbody td</td>
      </tr>
      <tr>
        <td>tbody td</td>
        <td>tbody td</td>
        <td>tbody td</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>tfoot th</th>
        <th>tfoot th</th>
        <th>tfoot th</th>
      </tr>
    </tfoot>
  </table>

  <h3>Table with side headings</h3>
  <table>
    <caption>Table Caption</caption>
    <thead>
      <tr>
        <th>thead th</th>
        <th>thead th</th>
        <th>thead th</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>tbody th</th>
        <td>tbody td</td>
        <td>tbody td</td>
      </tr>
      <tr>
        <th>tbody th</th>
        <td>tbody td</td>
        <td>tbody td</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>tfoot th</th>
        <td>tfoot td</td>
        <td>tfoot td</td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="row">
  <h2>Type</h2>
  <!-- Type -->
  <p>The <a href="#">a element</a> example</p>
  <p>The <abbr>abbr element</abbr> and an <abbr title="Abbreviation">abbr</abbr> element with title examples</p>
  <p>The <b>b element</b> example</p>
  <p>The <cite>cite element</cite> example</p>
  <p>The <code>code element</code> example</p>
  <p>The <em>em element</em> example</p>
  <p>The <del>del element</del> example</p>
  <p>The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples</p>
  <p>The <i>i element</i> example</p>
  <p>The <ins>ins element</ins> example</p>
  <p>The <kbd>kbd element</kbd> example</p>
  <p>The <mark>mark element</mark> example</p>
  <p>The <q>q element</q> example</p>
  <p>The <q>q element <q>inside</q> a q element</q> example</p>
  <p>The <s>s element</s> example</p>
  <p>The <samp>samp element</samp> example</p>
  <p>The <small>small element</small> example</p>
  <p>The <span>span element</span> example</p>
  <p>The <strong>strong element</strong> example</p>
  <p>The <sub>sub element</sub> example</p>
  <p>The <sup>sup element</sup> example</p>
  <p>The <u>u element</u> example</p>
  <p>The <var>var element</var> example</p>
  
  <!-- Blockquote -->
  <blockquote>
    <p>Some sort of famous witty quote marked up with a &lt;blockquote> and a child &lt;p> element.</p>
  </blockquote>
  
  <blockquote>Even better philosophical quote marked up with just a &lt;blockquote> element.</blockquote>
</div>
  
<div class="row">
  <h2>Media</h2>
  <!-- Media -->
  <figure>
    <img src="http://placehold.it/240x240" alt="alt text">
    <figcaption>Figcaption content</figcaption>
  </figure>

  <figure>
    <img src="http://placehold.it/240x240" alt="alt text">
    <figcaption>
    <h4>Figure Title</h4>
    Figcaption content
    </figcaption>
  </figure>
</div>

<div class="row">
  <h2>More Forms</h2>
  <!-- Forms -->
  <form>
    <fieldset>
      <div><label>Text input</label> <input type="text"></div>
      <div><label>Text input with placeholder</label> <input type="text" placeholder="I'm placeholder text"></div>
      <div><label>Readonly input</label> <input type="text" value="Read only text input" readonly></div>
      <div><label>Disabled input</label> <input type="text" value="Disabled text input" disabled></div>
      <div><label>Required input <span class="required">*</span></label> <input type="text" required></div>
      <div><label>Email input</label> <input type="email"></div>
      <div><label>Search input</label> <input type="search"></div>
      <div><label>Speech recognition input</label> <input type="text" id="speech" name="speech" x-webkit-speech=""></div>
      <div><label>Tel input</label> <input type="tel"></div>
      <div><label>Phone (International)</label> <input name="field_country_code" maxlength="3" /> - <input name="field_city_code" maxlength="4" /> - <input name="field_phone_int" maxlength="8" /></div>
      <div><label>URL input</label> <input type="url" placeholder="http://"></div>
      <div><label>Password input</label> <input type="password" value="password"></div>
      <div><label>Select field</label> <select><option>Option 01</option><option>Option 02</option></select></div>
      <div><label>Multiple select field</label><select multiple size="5"><option>Option 1</option><option>Option 2</option><option>Option 3</option><option>Option 4</option><option>Option 5</option><option>Option 6</option><option>Option 7</option><option>Option 8</option><option>Option 9</option><option>Option 10</option></select></div>
      <div><label>Radio input</label> <input type="radio" name="rad"></div>
      <div><label>Checkbox input</label> <input type="checkbox"></div>
      <div><label><input type="radio" name="rad"> Radio input</label></div>
      <div><label><input type="checkbox"> Checkbox input</label></div>
      <div><label>File input</label> <input type="file"></div>
      <div><label>Textarea</label> <textarea cols="30" rows="5" >Textarea text</textarea></div>
      <div><label>Color input</label> <input type="color" value="#000000"></div>
      <div><label>Number input</label> <input type="number" value="5" min="0" max="10"></div>
      <div><label>Range input</label> <input type="range" id="range" value="0" min="0" max="100"> <output for="range">0</output>
      <script>
      if (document.querySelector) {
      document.querySelector('#range').onchange = function(e) {
      e.target.nextElementSibling.innerText = e.target.value;
      }
      }
      </script>
      </div>
      <div><label>Date input</label> <input type="date"></div>
      <div><label>Month input</label> <input type="month"></div>
      <div><label>Week input</label> <input type="week"></div>
      <div><label>Time input</label> <input type="time"></div>
      <div><label>Datetime input</label> <input type="datetime"></div>
      <div><label>Datetime-local input</label> <input type="datetime-local"></div>
    </fieldset>
  </form>
</div>

<div class="row">
  <h2>Article Objects</h2>
  <!-- Article -->
  <article>
    <header>
      <h2>The Title Goes Here</h2>
    </header>
    
    <aside>
      This is aside text lorem ipsum dolor sit amet consectetur adipisicing.
    </aside>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <a href="#">nostrud exercitation</a> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <a href="#">tempor incididunt</a> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
    <footer>
      Posted August 22, 2011
    </footer>
  </article>

  <!-- Slats List -->
  <ul class="slats">
    <li class="group">
      <a href="#">
        <img src="images/thumb.png" alt="thumbnail" />
        <h3>This is the title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="meta">August 10, 2011</span></p>
      </a>
    </li>
  </ul>

  <form action="/">
    <fieldset>
      <label for="gender">Gender</label>
      <select id="gender">
      <option>Male</option>
      <option>Female</option>
      <option>Cylon</option>
      </select>
    </fieldset>

    <fieldset class="radio">
      <label for="notifications">Notifications</label>
      <ul>
      <li><label><input type="radio" name="notifications" /> Send me email</label></li>
      <li><label><input type="radio" name="notifications" /> Don't send me email</label></li>
      <li><label><input type="radio" name="notifications" /> Send me flowers</label></li>
      </ul>
    </fieldset>

    <fieldset>
      <label for="url">URL</label>
      <input type="url" id="url" class="form-text" placeholder="http://yourdomain.com" />
    </fieldset>

    <fieldset>
      <label for="bio">Bio</label>
      <textarea id="bio"></textarea>
    </fieldset>

    <fieldset class="check">
      <label><input type="checkbox" /> I accept the terms of service and lorem ipsum.</label>
    </fieldset>

    <fieldset class="form-actions">
      <input type="submit" value="Submit" />
    </fieldset>

  </form>
</div>
