<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body id="page">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<!-- Top Bar -->
  <header class="top-bar">
      <h1 class="logo">
        <a class="button menu-link" href="#">Z</a> Tommy Smith
      </h1>

      <div class="tools">
        <a class="icon icon-tool" href="#">12 <i class="coin">$</i></a>
      </div>
  </header>

<!-- Main Content Area -->
  <section id="container" class="main">
    <div class="row attention">
      <!-- Add your site or application content here -->
    </div>

    <%= yield %>

  </section>
  
<!-- Navigation -->
  <nav class="side-menu" role="navigation">
    <ul>
      <li><a href="single.html"><i>A</i> Tommy Smith</a></li>
      <li><a href="#"><i>B</i> My Stuff</a></li>
      <li><a href="#"><i>C</i> Store</a></li>
      <li><a href="login.html"><i>D</i> My Account</a></li>
    </ul>
  </nav>

  </body>
</html>